@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';


.p-datatable .p-datatable-tbody > tr.p-highlight > td,
.p-datatable .p-datatable-tbody > tr[data-p-selected="true"] > td,
.p-datatable .p-datatable-scrollable-body table > tbody > tr.p-highlight > td,
.p-datatable .p-datatable-scrollable-body table > tbody > tr[data-p-selected="true"] > td {
  background-image: none !important;
  background-color: #ececec !important;
  color: black !important;
  border-color: #ececec !important;
  
}

.table {
  margin-left: 1rem;
  margin-top: 2rem;
  width: 100%;
}


body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: white;
}

.p-menu {
  background-color: #e30013;
  width: 34%;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(236, 236, 236);
}

.header-text {
  margin-left: 30%;
  font-size: xxx-large;
  color: #5f6062;
}

.main-card {
}

.card {
  margin-top: 2rem;
  display: flex;
}

.button-row {
  margin-top: 2%;
  display: flex;
  align-items: center;
  gap: 2%;
}

.button-row button {
  width: 25%;
  color: white;
}

.button-row button:last-child {
  margin-left: auto;
  margin-right: 3%;
  width: 40%;
}

.logo {
  margin-left: 1.5%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}



.table .p-datatable-thead > tr > th,
.table .p-datatable-tbody > tr > td {
    border-color: lightgray;

}

.table .p-datatable-tbody > tr,
.table .p-datatable-thead > tr > th {
  background-color: white;
  color: black;
}


